.input-box {
    color: #444545;
    caret-color: #696c6d;
    border: none;
    appearance: none;
    background: #cacaca;
    font-size: 25px;
    padding: 12px;
    border-radius: 10px;
    width: 300px;
    outline: none;
}

.input-box::placeholder {
    color: #8a8a8a;
}