.start {
  margin: 75px;
}

.difficulty {
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 10px;
}

.time-control {
  padding-top: 10px;
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 10px;
}
